.label {
    align-self: stretch;
    position: relative;
    line-height: 140%;
}
.value {
    flex: 1;
    position: relative;
    line-height: 100%;
}
.input {
    align-self: stretch;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 16px;
    min-width: 240px;
    color: #b3b3b3;
}
.input-field {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}
.button {
    flex: 1;
    border-radius: 8px;
    background-color: #2c2c2c;
    border: 1px solid #2c2c2c;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px;
    cursor: pointer;
}
.button-group {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: #f5f5f5;
}
.text-link-text {
    position: relative;
    text-decoration: underline;
    line-height: 140%;
}
.text-link {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.login-form {
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 24px;
    gap: 24px;
    min-width: 320px;
}
.content {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #1e1e1e;
}
.login {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px 112px 33px;
    gap: 36px;
    font-size: 48px;
    color: #000;
}

